---
---

// Sass variables
$site-purple: #6600ff
$link-hover: #004776
$link-color: #762f00
$break-small: 940px

@import 'header', 'nav', 'content', 'footer'

// Basic site-wide settings
*
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.clear
  clear: both

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

// Link styles
a:link
  color: $link-color
  text-decoration: none

a:visited
  color: $link-color
  text-decoration: none

a:hover
  color: $link-hover
  text-decoration: underline

body
  font-size: 62.5%
  width: 95%
  margin: 0 auto
  min-width: 300px
  @media only screen and (min-width: $break-small)
    width: 80%
    max-width: 1000px
