---
---
<!DOCTYPE html>
<html>

<head>
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
</head>

<body>

  <div class="wrapper">

    {% include header.html %}
    
    <main>
    <p class="home-text">I've written for a variety of outlets, including Nature, Science, the San Jose Mercury News and Inside Science. This page provides a nearly exhaustive list of my published clips, sorted by outlet.</p>
    <p class="home-text">I reported a feature-length magazine story for Science Notes 2015 titled <a href="http://sciencenotes.ucsc.edu/2015/pages/finches/finches.html">"Heard it from a Bird."</a> I produced a podcast and infographic to accompany it.</p>
    <p class="home-text">I also produced a <a href="https://vimeo.com/131390904">five minute video</a> chronicling the Aptos High School robotics team's quest to retain their crown at an annual competition.</p>
    
    <div class="clip-box">
	{% assign outlets = site.clips | group_by: "outlet" %}
	{% assign rev_outlets = outlets | reverse %}
	{% for outlet in rev_outlets %}
		<br>
		<h3>{{ outlet.name }}</h3>
		{% assign sorted_clips = outlet.items | sort: "date" | reverse %}
		{% for clip in sorted_clips %}
			<div class="clip-item">
				{% if clip.image_url %}
				<div class="clip-crop">
					<img class="clip-img" src="{{ clip.image_url }}">
				</div>
				{% endif %}
				<div class="clip-link">
				<a href="{{ clip.address }}">{{ clip.headline | group_by: "outlet" }}</a>, {{ clip.date | date: "%B %-d, %Y" }}
				</div>
				{% if clip.image_url %}
				<div class="clear"></div>
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}
	</div>
    
    </main>
    
    
    {% include footer.html %}

<script>
  var specifiedElement = document.getElementById('site-nav');
  //console.log('specifiedElement is ' + specifiedElement);
  document.addEventListener('click', function(event) {
    var isClickInside = specifiedElement.contains(event.target);
    if (isClickInside) {
      //console.log('You clicked inside');
    } else {
      //console.log('You clicked outside');
      var checkbox = document.getElementById('nav-checkbox-toggle');
      //console.log('checkbox is ' + checkbox.checked);
      if (checkbox.checked) {
        checkbox.checked = false;
      }
    }
    });
</script>

</body>
</div>

</html>
