<footer>
	<ul>
		<li><a href="mailto:{{ site.email }}"><img src="/images/email.png" class="footer-icon" title="Send me an email"></a></li>
		<li><a href="https://twitter.com/{{ site.twitter_username }}"><img src="/images/twitter.png" class="footer-icon" title="Follow me on Twitter"></a></li>
		<li><a href="http://www.linkedin.com/in/{{ site.linkedin_username }}"><img src="/images/linkedin.png" class="footer-icon" title="Connect with me on LinkedIn"></a></li>
	  <li><a href="https://github.com/{{ site.github_username }}"><img src="/images/github.png" class="footer-icon" title="Check me out on Github"></a></li>
	</ul>
</footer>
