<header>

      <nav id="site-nav">
        <input type="checkbox" id="nav-checkbox-toggle">
        <label for="nav-checkbox-toggle">...</label>
        <ul id="nav-list">
          <li class="nav-item nav-item-home"><a href="#">Home</a></li>
          <hr class="nav-separator">
          <li class="nav-item nav-item-blog"><a href="#">Blog</a></li>
          <hr class="nav-separator">
          <li class="nav-item nav-item-clips"><a href="#">Clips</a></li>
          <hr class="nav-separator">
          <li class="nav-item nav-item-about"><a href="#">About</a></li>
          <hr class="nav-separator">
          <li class="nav-item nav-item-contact"><a href="#">Contact</a></li>
        </ul>
      </nav>

      <div class="site-logo"></div>

      <div class="site-title">
        <p class="title-name">Chris Cesare</p>
        <p class="title-occupation">Science Writer</p>
      </div>

 </header>
