<nav id="site-nav">
  <input type="checkbox" id="nav-checkbox-toggle">
  <label for="nav-checkbox-toggle">...</label>
  <ul id="nav-list">
    <li class="nav-item nav-item-home"><a href="/index.html">Home</a></li>
    <hr class="nav-separator">
    <li class="nav-item nav-item-clips"><a href="/clips/">Clips</a></li>
    <hr class="nav-separator">
    <li class="nav-item nav-item-blog"><a href="/blog/">Blog</a></li>
    <hr class="nav-separator">
    <li class="nav-item nav-item-about"><a href="/about/">About</a></li>
    <hr class="nav-separator">
    <li class="nav-item nav-item-contact"><a href="/contact/">Contact</a></li>
  </ul>
</nav>
