// Footer styles
footer
  position: relative
  border-top: 5px solid
  border-radius: 5px
  padding-top: 10px
  width: 100%
  text-align: center

footer li
  display: inline-block
  margin: 20px

.footer-icon
  width: 30px

.copyright
  font-size: 10pt
  @media only screen and (min-width: $break-small)
    font-size: 12pt
